
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

###### Spring ######
back-side/persistence/HELP.md
back-side/persistence/target
back-side/persistence/src/test
back-side/persistence/.mvn
!**/src/main/**/target/
!**/src/test/**/target/
**mvnw**

###### React ######

# dependencies
front-side/*/node_modules
front-side/*/.pnp
front-side/*.pnp.js

# testing
front-side/*/coverage

# production
front-side/*/build

# misc
front-side/*/.DS_Store
front-side/*/.env.local
front-side/*/.env.development.local
front-side/*/.env.test.local
front-side/*/.env.production.local

front-side/*/npm-debug.log*
front-side/*/yarn-debug.log*
front-side/*/yarn-error.log*
