.wrapper {
    position: relative;
    height: 100%;
    width:  var(--sidebar-width);
    background: var(--secondary--color);
}

.SideBarHeader {
    display: flex;
    padding: 20px;
    color: white;
    justify-content: space-between;
}

.SideBarHeader h2 {
    font-size: medium;
}