@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--primary--color);
    overflow-x: hidden;
    color: var(--secondary--color);
    font-size: 18px;
}
input[type]{
    vertical-align: middle;
}
.champ{
    display: grid;
    place-content: center;
    padding-top: 50px;
}
.champ div{
    margin-bottom: 5%;
}
.champ h3{
    color: dodgerblue;
    margin-bottom: 20px;
}
.champ h2{
    text-align: center;
    margin-bottom: 50px;
    color: dodgerblue;
}
input[type="text"], input[type="number"]{
    outline: 0.5px solid dodgerblue;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.champ input[type="text"]{
    width: 250px;
    border: none;
}
input[type="number"]{
    width: 40px;
    text-align: center;
    padding: 3px;
    border: none;
    border-radius: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  text-align: center;
}
.constante div, .bio{
    display: flex;
    flex-direction: column;
}
.medicaux div{
    margin-left: 30%;
}
div input{
    margin-left: 50px;
}
div p{
    margin-bottom: 30px;
    font-size: 18.5px;
    font-weight: 600;
}
.biologie input, .constante input{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
input:hover{
    box-shadow: 1px 1px 25px #0000004d;
}

iframe::-webkit-inner-spin-button,
iframe::-webkit-outer-spin-button {
  -webkit-appearance: none;
  scrollbar-width: none;
}