.wrapper {
}

.inputContainer {
    position: relative;
    height: 55px;
    /*border: 2px solid var(--secondary--color);*/
    border-radius: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}





.labelText {
    position: absolute;
    left: 10px;
    top: 0;
    color: var(--secondary--color);
}

.label:focus-within .labelText {
    animation: slide .2s forwards;
    padding: 0 10px;
    font-size: small;


}


@keyframes slide {

    0% {
        left: 15px;
    }

    /*25% {*/
    /*    top: -5px;*/
    /*    left: 15px;*/
    /*}*/

    /*50% {*/
    /*    top: -5px;*/
    /*    left: 10px;*/
    /*}*/

    /*75% {*/
    /*    top: -5px;*/
    /*    left: 5px;*/
    /*}*/

    100% {
        top: -5px;
        left: 0;
    }

}

.inputText, .label:focus-within .inputText {
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding: 0 10px;
    width: 100%;
    height: 90%;
}

.label:focus-within .inputText {
}


.errorMessagesContainer {
    height: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
}

.errorMessagesText {
    height: 10px;
    font-size: small;
    color: red;
}